<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Recipe - <%= recipe.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit Recipe - <%= recipe.name %></h1>
    <form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%= recipe.name %>"><br>
        Instructions: <textarea name="instructions"><%= recipe.instructions %></textarea><br>
        <h2>Ingredients</h2>
        <% allIngredients.forEach(ingredient => { %>
            <div>
                <input 
                    type="checkbox" 
                    name="ingredients" 
                    value="<%= ingredient._id %>" 
                    id="ingredient_<%= ingredient._id %>"
                    <% if (recipe.ingredients.some(ing => ing._id.equals(ingredient._id))) { %> checked <% } %>
                >
                <label for="ingredient_<%= ingredient._id %>"><%= ingredient.name %></label>
            </div>
        <% }); %>
        <br>

        <input type="submit" value="Update Recipe">
    </form>
</body>
</html>